.altoPrecio{
    color:gray;
    font-size: 18px;
}

.fondoRojo{
    background-color: red;
    color: white;
    font-size: 18px;
}
.subrayado{
    text-decoration: underline;
}

.active{
    border: 3px solid yellowgreen;
}
